.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 480px) {

  .divmain {
    display: flex;
    justify-content: center;
  }

  .toplevel {
    margin-left: 20px;
    font-size: 26px;

  }

  .subtop {
    margin-left: 46px;
    font-size: 20px;
  }

  .bottolevel {
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
  }

  .formdiv {
    width: 320px;
  }

  .subform {
    padding: 4px;
    gap: 20px;
    font-size: small;
    
  }

  .labeldiv {
    font-size: large;
  }

  .image {
    width: 320px;
    height: 260px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .output {
    font-size: large;
  }


}
